@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* Colors */
/* box-shadow mixin */
* {
  font-family: 'Open Sans', sans-serif; }

.temp-degree:after {
  content: "\00b0"; }

.before-update:before {
  z-index: 1; }

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  color: #fff;
  background-color: #ecf4f8; }
  body #weather-widget {
    width: 500px;
    min-width: 300px;
    height: 430px;
    background: url("../images/background.jpg") no-repeat;
    margin: auto;
    background-size: cover;
    z-index: 9;
    padding: 0px 30px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-box-shadow: 5px 5px 20px rgba(183, 182, 182, 0.99);
    -moz-box-shadow: 5px 5px 20px rgba(183, 182, 182, 0.99);
    box-shadow: 5px 5px 20px rgba(183, 182, 182, 0.99); }
    body #weather-widget .fa-spin {
      position: absolute;
      left: 6px;
      top: 8px; }
    body #weather-widget:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(30, 189, 246, 0.85);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }
    body #weather-widget #top-block {
      margin: 40px 0 0 0;
      padding: 15px 0px;
      float: left;
      width: 100%; }
      body #weather-widget #top-block .empire-icon {
        float: left;
        border-right: 2px solid #fff;
        margin-right: 45px;
        padding-right: 50px;
        width: 30%; }
        body #weather-widget #top-block .empire-icon img {
          height: 157px;
          float: right; }
      body #weather-widget #top-block .weather-today {
        float: left;
        margin-left: 0px; }
        body #weather-widget #top-block .weather-today .weather-today-block .wi-day-sunny {
          font-size: 50px; }
        body #weather-widget #top-block .weather-today .weather-today-block span:not(.temp-degree) {
          font-size: 20px;
          margin-left: 25px;
          display: inline-block;
          margin-top: 15px;
          float: right; }
        body #weather-widget #top-block .weather-today .weather-today-block h1,
        body #weather-widget #top-block .weather-today .weather-today-block strong {
          font-size: 40px; }
        body #weather-widget #top-block .weather-today .weather-today-block h1 {
          margin: 10px 0 0 0;
          font-weight: normal; }
    body #weather-widget #bottom-block {
      float: left;
      width: 100%;
      margin-top: 60px; }
      body #weather-widget #bottom-block .day-weather {
        float: left;
        position: relative;
        width: 16.6%; }
        body #weather-widget #bottom-block .day-weather ul {
          padding: 0;
          margin: 0; }
          body #weather-widget #bottom-block .day-weather ul li {
            font-weight: 300;
            list-style: none;
            line-height: 32px;
            text-align: center; }
            body #weather-widget #bottom-block .day-weather ul li .wi {
              font-weight: 300;
              font-size: 22px; }
            body #weather-widget #bottom-block .day-weather ul li strong {
              float: left; }
            body #weather-widget #bottom-block .day-weather ul li span {
              float: right; }
            body #weather-widget #bottom-block .day-weather ul li:last-child {
              width: 75%;
              margin: auto; }
        body #weather-widget #bottom-block .day-weather:not(:last-child) {
          margin-right: 0; }
          body #weather-widget #bottom-block .day-weather:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
            width: 1px;
            height: 100%;
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.56) 1%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.24) 76%, rgba(255, 255, 255, 0.14) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.56) 1%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.24) 76%, rgba(255, 255, 255, 0.14) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.56) 1%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.24) 76%, rgba(255, 255, 255, 0.14) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fffffff', endColorstr='#24ffffff',GradientType=0 );
            /* IE6-9 */ }

/* responsive */
@media all and (max-width: 640px) {
  body #weather-widget {
    width: 100%;
    height: 345px;
    padding: 10px 0 0; }
    body #weather-widget .fa-spin {
      right: 6px;
      left: auto; }
    body #weather-widget #top-block {
      margin: 0 0 0 0;
      padding: 15px 10px;
      width: 92%; }
      body #weather-widget #top-block .empire-icon {
        margin-right: 35px;
        padding-right: 20px;
        width: 30%; }
        body #weather-widget #top-block .empire-icon img {
          height: 110px;
          float: right; }
      body #weather-widget #top-block .weather-today {
        margin-left: 0; }
        body #weather-widget #top-block .weather-today .weather-today-block {
          margin-bottom: 5px; }
          body #weather-widget #top-block .weather-today .weather-today-block .wi-day-sunny {
            font-size: 24px;
            float: left; }
          body #weather-widget #top-block .weather-today .weather-today-block span:not(.temp-degree) {
            margin-top: 2px;
            float: left;
            margin-left: 15px; }
          body #weather-widget #top-block .weather-today .weather-today-block h1 {
            font-size: 30px;
            margin-bottom: 2px;
            margin-top: 4px;
            display: block;
            float: left; }
          body #weather-widget #top-block .weather-today .weather-today-block strong {
            font-size: 30px; }
    body #weather-widget #bottom-block {
      margin-top: 35px; }
      body #weather-widget #bottom-block .day-weather ul li {
        text-align: center; }
        body #weather-widget #bottom-block .day-weather ul li span,
        body #weather-widget #bottom-block .day-weather ul li strong {
          float: none;
          display: block; } }
@media all and (min-width: 650px) and (max-width: 800px) {
  body #weather-widget {
    width: 600px;
    height: 450px; }
    body #weather-widget #top-block .empire-icon {
      width: 30%; }
      body #weather-widget #top-block .empire-icon img {
        height: 170px;
        float: right; }
    body #weather-widget #top-block .weather-today .weather-today-block span:not(.temp-degree) {
      font-size: 26px;
      margin-top: 10px;
      margin-left: 10px; }
    body #weather-widget #top-block .weather-today .weather-today-block h1 {
      font-size: 45px;
      margin: 6px 0;
      font-weight: normal; }
    body #weather-widget #top-block .weather-today .weather-today-block .wi-day-sunny {
      font-size: 50px; }
    body #weather-widget #bottom-block .day-weather ul li {
      line-height: 40px;
      font-size: 22px; } }
@media all and (min-width: 300px) and (max-width: 370px) {
  body #weather-widget #top-block .empire-icon {
    width: 25%; }
  body #weather-widget #top-block .weather-today .weather-today-block h1 {
    font-size: 31px;
    margin-bottom: 4px; }
  body #weather-widget #bottom-block {
    margin-top: 35px; } }
@media all and (min-width: 810px) and (max-width: 1300px) {
  body #weather-widget {
    width: 600px;
    height: 465px; }
    body #weather-widget #top-block .empire-icon {
      width: 30%; }
      body #weather-widget #top-block .empire-icon img {
        height: 170px;
        float: right; }
    body #weather-widget #top-block .weather-today .weather-today-block h1 {
      margin: 7px 0; }
    body #weather-widget #bottom-block .day-weather ul li {
      line-height: 45px;
      font-size: 22px; }
      body #weather-widget #bottom-block .day-weather ul li .wi {
        font-size: 35px; } }

/*# sourceMappingURL=style.css.map */
