@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* Colors */
$main-bg: #ecf4f8;

/* box-shadow mixin */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

*{
	font-family: 'Open Sans', sans-serif;
}

.temp-degree:after{
	content: "\00b0";
}
.before-update:before{
	z-index: 1;
}
body,
html{
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
	color: #fff;
	background-color: $main-bg;
	#weather-widget{
		width: 500px;
		min-width: 300px;
		height: 430px;
		background: url('../images/background.jpg') no-repeat;
		margin: auto;
		background-size: cover;
		z-index: 9;
		padding: 0px 30px 0;
		position:  absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		@include box-shadow(5px, 5px, 20px, rgba(183, 182, 182, 0.99));

		.fa-spin{
		    position: absolute;
		    left: 6px;
		    top: 8px;
		}
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(30, 189, 246, 0.85);
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: -1;
		}
		#top-block{
		    margin: 40px 0 0 0;
    		padding: 15px 0px;
    		float: left;
    		width: 100%;
    		.empire-icon{
    			float: left;
    			border-right: 2px solid #fff;
			    margin-right: 45px;
			    padding-right: 50px;
			    width: 30%;
    			img{
    				height: 157px;
    				float: right;
    			}
    		}
    		.weather-today{
    			float: left;
    			margin-left: 0px;
    			.weather-today-block{
	    			.wi-day-sunny{
	    				font-size: 50px;
	    			}
    				span{

    					&:not(.temp-degree){
	    					font-size: 20px;
	    					margin-left: 25px;
	    					display: inline-block;
						    margin-top: 15px;
						    float: right;
    					}
    				    
    				}
    				h1,
    				strong{
    					font-size: 40px;
    				}
    				h1{
    					margin: 10px 0 0 0;
    					font-weight: normal;
    				}
    			}
    		}
		}
		#bottom-block{
			
			float: left;
    		width: 100%;
    		margin-top: 60px;
    		.day-weather{
    			float: left;
    			position: relative;
    			width: 16.6%;
    			ul{
    				padding: 0;
    				margin: 0;
    				li{
    					font-weight: 300;
    					list-style: none;
    					line-height: 32px;
    					text-align: center;
    					.wi{
    						font-weight: 300;
    						font-size: 22px;
    					}
    					strong{
    						float: left;
    					}
    					span{
    						float: right;
    					}
    					&:last-child{
    						width: 75%;
    						margin: auto;
    					}
    				}
    			}

    			&:not(:last-child){
    			    margin-right: 0;
    				&::after{
    					content: "";
    					position: absolute;
    					top: 0;
						right: 0px;
						width: 1px;
						height: 100%;
						background: -moz-linear-gradient(top, rgba(255,255,255,0.56) 0%, rgba(255,255,255,0.56) 1%, rgba(255,255,255,0.35) 50%, rgba(255,255,255,0.24) 76%, rgba(255,255,255,0.14) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(255,255,255,0.56) 0%,rgba(255,255,255,0.56) 1%,rgba(255,255,255,0.35) 50%,rgba(255,255,255,0.24) 76%,rgba(255,255,255,0.14) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(255,255,255,0.56) 0%,rgba(255,255,255,0.56) 1%,rgba(255,255,255,0.35) 50%,rgba(255,255,255,0.24) 76%,rgba(255,255,255,0.14) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fffffff', endColorstr='#24ffffff',GradientType=0 ); /* IE6-9 */
					}
    				
    			}
    		}
		}
	}
}

/* responsive */

@media all and (max-width: 640px){
	body {
		#weather-widget{
		    width: 100%;
		    height: 345px;
		    padding: 10px 0 0;
		    .fa-spin{
			    right: 6px;
			    left: auto;
			}
		    
		    #top-block{
		    	margin: 0 0 0 0;
		    	padding: 15px 10px;
		    	width: 92%;
		    	.empire-icon{
		    		margin-right: 35px;
    				padding-right: 20px;
    				width: 30%;
    				img{
    					height: 110px;
    					float: right;
    				}
		    	}
		    	.weather-today{
		    		margin-left: 0;
		    		.weather-today-block{
		    		    margin-bottom: 5px;
			    		.wi-day-sunny{
			    			font-size: 24px;
			    			float: left;
			    		}
			    		span{
			    			
			    			&:not(.temp-degree){
			    				margin-top: 2px;
			    				float: left;
			    				margin-left: 15px;
			    			}
			    		}
			    		h1{
			    			font-size: 30px;
			    			margin-bottom: 2px;
			    			margin-top: 4px;
						    display: block;
						    float: left;
			    		}
			    		strong{
			    			font-size: 30px;
			    		}
		    		}
		    		
		    	}
		    }
		    #bottom-block{
		    	margin-top: 35px;
		    	.day-weather {
		    		ul {
		    			li {
		    				text-align: center;
			    			span,
			    			strong{
			    				float: none;
			    				display: block;
			    			}
		    			}
		    		}
		    	}
		    }
		}
	}
}
@media all and (min-width: 650px) and (max-width: 800px){
	body {
		#weather-widget{
			width: 600px;
			height: 450px;
			#top-block {
				.empire-icon {
					width: 30%;
					img{
						height: 170px;
						float: right;
					}
				}
				.weather-today {
						.weather-today-block{
							span{
								&:not(.temp-degree){
								    font-size: 26px;
								    margin-top: 10px;
								    margin-left: 10px;
								}
							}
							h1{
								font-size: 45px;
	    						margin: 6px 0;
	    						font-weight: normal;
							}
							.wi-day-sunny{
								font-size: 50px;
							}
						}
				}
			}
			#bottom-block {
				.day-weather{
					ul {
						li{
						    line-height: 40px;
						    font-size: 22px;
						}
					}
				}
			}
		}
	}
}
@media all and (min-width: 300px) and (max-width: 370px){
	body{
		 #weather-widget {
		 	#top-block {
		 		.empire-icon{
		 			width: 25%;
		 		}
		 		.weather-today {
		 			.weather-today-block {
		 				h1{
		 					font-size: 31px;
    						margin-bottom: 4px;
		 				}
		 			}
		 		}
		 	}
		 	#bottom-block{
		 		margin-top: 35px;
		 	}
		 }
	}
}
@media all and (min-width: 810px) and (max-width: 1300px){
	body{
		#weather-widget{
			width: 600px;
			height: 465px;
			#top-block {
				.empire-icon {
					width: 30%;
					img{
						height: 170px;
						float: right;
					}
				}
				.weather-today{
					.weather-today-block{
						h1{
							margin: 7px 0;
						}
					}
				}
			}
			#bottom-block {
				.day-weather{
					ul {
						li{
							line-height: 45px;
						    font-size: 22px;
						    .wi{
						    	font-size: 35px;
						    }
						}
					}
				}
			}
		}
	}
}